<h1> Welcome to the Alpha Center </h1>
<br/>
<br/>
<h2> <%= link_to "Greeter to my people", "/greeter" %> </h2>
<br/>
<h3><%= link_to "Elyse amazingly funny Joke", "/joke" %></h3>
<br/>
<button><%= link_to "Awesome Alpha", "/alpha" %> </button>
